<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="/reload/reload.js"></script>
<script src="/js/vendor/three.min.js"></script>
<script src="/js/bundle.min.js"></script>
</body>
</html>