<%- include('partials/head.ejs') %>
<main>
<div class="earth" style="">
	<img src="./assets/images/earth.gif" alt="">
</div>
<div class="sun" style="">
	<img src="./assets/images/sun.gif" alt="">
</div>
<div ></div>
</main>
<%- include('partials/foot.ejs') %>